body {
    height: 100vh;
    margin-top: 0 ;
    background: linear-gradient(45deg, #912f2f,#0b168e);
   
}
.app {
    opacity: 0.7;
    background: linear-gradient(75deg, #5f2929,#9198e5);  
    
    width: 650px;
    margin:0rem auto;
    height: 100vh;
    border: 5px solid black;
}


form {
    height: 15%;
    background: linear-gradient(90deg, #ca2b2b,#7b83e6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}
table {
    border-collapse: collapse
}

.main{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#invader {
    max-height: 100%;
  
   
}
.case {

    border:2px solid rgb(10, 9, 10);;
    background-color:whitesmoke;
    

}


.black {
    background-color: black;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}

.input{
    height: 30%;
    width: 150px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.2rem;
    margin-right: 0.2rem;
    text-align: center;
    border: none;
    border: 3px solid black;
    border-radius: 15px;
   
}

#formButton {
    height: 35%;
    width: 7rem;
    background: linear-gradient(40deg, #f05b5b,#7a80df);
    font-size: 1rem;
    padding:0.5rem;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid black;

    
}





